n8n-workflow.json
{
  "name": "BannerBot → Claude Vision → prompts.md",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bannerbot",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "BannerBot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 320],
      "webhookId": "bannerbot-scraper"
    },
    {
      "parameters": {
        "jsCode": "// Normalise payload (body may be nested under .body)\nconst d = $input.first().json.body ?? $input.first().json;\n\nreturn [{ json: {\n  domain:         d.domain,\n  tier:           d.tier,\n  geo:            d.geo ?? '',\n  success:        d.success,\n  scrapedAt:      d.scrapedAt,\n  driveFolderId:  d.driveFolderId,\n  driveFolderUrl: d.driveFolderUrl,\n  totalBanners:   (d.homepageBanners?.length ?? 0) + (d.promoBanners?.length ?? 0),\n  runLabel:       d.domain + ' · T' + d.tier + (d.geo ? ' ' + d.geo.toUpperCase() : ''),\n}}];"
      },
      "id": "node-prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-has-folder",
              "leftValue": "={{ $json.driveFolderId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "cond-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-folder",
      "name": "Has Drive Folder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 320]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "REPLACE_WITH_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "REPLACE_WITH_WHATSAPP_NUMBER_E164",
        "textBody": "={{ '🤖 BannerBot\\n\\n⚠️ ' + $json.domain + ' — scrape failed or no Drive folder.\\nTier ' + $json.tier + ($json.geo ? ' · ' + $json.geo.toUpperCase() : '') }}"
      },
      "id": "node-wa-fail",
      "name": "WhatsApp — Failed",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [860, 480],
      "credentials": {
        "whatsAppTriggerApi": { "id": "REPLACE_CREDENTIAL_ID", "name": "WhatsApp account" }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list", "cachedResultName": "My Drive" },
        "folderId": { "__rl": true, "value": "={{ $json.driveFolderId }}", "mode": "id" },
        "queryFilters": {
          "queryFilters": [
            {
              "filter": "mimeType",
              "operation": "=",
              "value": "image/jpeg"
            }
          ]
        },
        "options": { "fields": "id,name,mimeType,size" }
      },
      "id": "node-list-files",
      "name": "List Banner Images",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [860, 240],
      "credentials": {
        "googleDriveOAuth2Api": { "id": "REPLACE_CREDENTIAL_ID", "name": "Google Drive account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build one item per image file, carrying folder context\nconst items = $input.all();\nconst meta  = $('Prepare').first().json;\n\nif (items.length === 0) {\n  return [{ json: { ...meta, noImages: true } }];\n}\n\nreturn items.map((item, i) => ({\n  json: {\n    fileId:         item.json.id,\n    fileName:       item.json.name,\n    bannerIndex:    i + 1,\n    totalBanners:   items.length,\n    domain:         meta.domain,\n    tier:           meta.tier,\n    geo:            meta.geo,\n    driveFolderId:  meta.driveFolderId,\n    driveFolderUrl: meta.driveFolderUrl,\n    runLabel:       meta.runLabel,\n    scrapedAt:      meta.scrapedAt,\n  },\n}));"
      },
      "id": "node-split-files",
      "name": "Split Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-no-images",
              "leftValue": "={{ $json.noImages }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-images",
      "name": "Has Images?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 240]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "REPLACE_WITH_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "REPLACE_WITH_WHATSAPP_NUMBER_E164",
        "textBody": "={{ '🤖 BannerBot\\n\\n⚠️ ' + $json.domain + ' — Drive folder empty, no images to analyse.\\n\\n📁 ' + $json.driveFolderUrl }}"
      },
      "id": "node-wa-empty",
      "name": "WhatsApp — Empty Folder",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1520, 380],
      "credentials": {
        "whatsAppTriggerApi": { "id": "REPLACE_CREDENTIAL_ID", "name": "WhatsApp account" }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": { "__rl": true, "value": "={{ $json.fileId }}", "mode": "id" },
        "options": { "binaryPropertyName": "imageData" }
      },
      "id": "node-download",
      "name": "Download Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1520, 160],
      "credentials": {
        "googleDriveOAuth2Api": { "id": "REPLACE_CREDENTIAL_ID", "name": "Google Drive account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert binary image to base64 for Claude Vision API\nconst item = $input.first();\nconst imageBuffer = item.binary?.imageData?.data;\nif (!imageBuffer) throw new Error('No binary data found on imageData property');\n\nconst base64 = Buffer.isBuffer(imageBuffer)\n  ? imageBuffer.toString('base64')\n  : imageBuffer;  // already base64 string in some n8n versions\n\nconst mimeType = item.binary?.imageData?.mimeType ?? 'image/jpeg';\n\nreturn [{ json: {\n  ...item.json,\n  base64Image: base64,\n  mimeType,\n}}];"
      },
      "id": "node-to-base64",
      "name": "Image to Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $credentials.apiKey }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-opus-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"image\",\n        \"source\": {\n          \"type\": \"base64\",\n          \"media_type\": \"{{ $json.mimeType }}\",\n          \"data\": \"{{ $json.base64Image }}\"\n        }\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"You are an expert creative director analysing casino promotional banners. Analyse this banner image and generate a detailed image-generation prompt suitable for Midjourney or DALL-E 3. The prompt must capture: visual style, composition, color palette, lighting mood, typography style, and design elements — WITHOUT copying specific text, brand names, or logos. The goal is to enable creation of a visually similar but completely unique banner for a different brand. Return ONLY the image-generation prompt as plain text, no explanation, no prefix.\"\n      }\n    ]\n  }]\n}",
        "options": {}
      },
      "id": "node-claude",
      "name": "Claude Vision — Generate Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 160],
      "credentials": {
        "httpHeaderAuth": { "id": "REPLACE_ANTHROPIC_CREDENTIAL_ID", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the text from Claude's response\nconst item = $input.first();\nconst claudeResponse = item.json;\nconst prompt = claudeResponse?.content?.[0]?.text ?? '(no prompt generated)';\n\nreturn [{ json: {\n  ...item.json,\n  generatedPrompt: prompt,\n  fileName: item.json.fileName,\n  bannerIndex: item.json.bannerIndex,\n  domain: item.json.domain,\n  driveFolderId: item.json.driveFolderId,\n  driveFolderUrl: item.json.driveFolderUrl,\n  runLabel: item.json.runLabel,\n  scrapedAt: item.json.scrapedAt,\n  totalBanners: item.json.totalBanners,\n}}];"
      },
      "id": "node-extract-prompt",
      "name": "Extract Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2180, 160]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "node-aggregate",
      "name": "Collect All Prompts",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2400, 160]
    },
    {
      "parameters": {
        "jsCode": "// Format all generated prompts as a readable markdown file\nconst allItems = $input.first().json.data;\nif (!allItems || allItems.length === 0) return [{ json: { markdown: '# No prompts generated', folderId: '', folderUrl: '', domain: '', runLabel: '' } }];\n\nconst first = allItems[0];\nconst date  = new Date(first.scrapedAt || Date.now()).toISOString().slice(0, 10);\n\nconst lines = [\n  `# ${first.domain} — Banner Prompts`,\n  `**Scraped:** ${date}  |  **Tier:** ${first.tier}${first.geo ? '  |  **Geo:** ' + first.geo.toUpperCase() : ''}`,\n  `**Banners analysed:** ${allItems.length}`,\n  ``,\n  `---`,\n  ``,\n];\n\nallItems.forEach((item, i) => {\n  lines.push(`## Banner ${i + 1}  \\`${item.fileName}\\``);\n  lines.push(``);\n  lines.push(item.generatedPrompt ?? '*(no prompt)*');\n  lines.push(``);\n  lines.push(`---`);\n  lines.push(``);\n});\n\nreturn [{ json: {\n  markdown:       lines.join('\\n'),\n  folderId:       first.driveFolderId,\n  folderUrl:      first.driveFolderUrl,\n  domain:         first.domain,\n  runLabel:       first.runLabel,\n  promptCount:    allItems.length,\n}}];"
      },
      "id": "node-format",
      "name": "Format prompts.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2620, 160]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "prompts.md",
        "driveId": { "__rl": true, "value": "My Drive", "mode": "list", "cachedResultName": "My Drive" },
        "folderId": { "__rl": true, "value": "={{ $json.folderId }}", "mode": "id" },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "node-upload-md",
      "name": "Upload prompts.md",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2840, 160],
      "credentials": {
        "googleDriveOAuth2Api": { "id": "REPLACE_CREDENTIAL_ID", "name": "Google Drive account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert markdown string to binary so Google Drive can upload it\nconst item = $input.first();\nconst markdown = item.json.markdown ?? '';\nconst buffer   = Buffer.from(markdown, 'utf-8');\n\nreturn [{\n  json: item.json,\n  binary: {\n    data: {\n      data:     buffer.toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: 'prompts.md',\n    },\n  },\n}];"
      },
      "id": "node-md-to-binary",
      "name": "Markdown to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2840, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "REPLACE_WITH_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "REPLACE_WITH_WHATSAPP_NUMBER_E164",
        "textBody": "={{ '🤖 BannerBot\\n\\n✅ *' + $('Format prompts.md').first().json.domain + '*\\n' + $('Format prompts.md').first().json.runLabel + '\\n\\n🧠 ' + $('Format prompts.md').first().json.promptCount + ' prompts generated\\n\\n📁 Drive folder:\\n' + $('Format prompts.md').first().json.folderUrl }}"
      },
      "id": "node-wa-done",
      "name": "WhatsApp — Done",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [3060, 160],
      "credentials": {
        "whatsAppTriggerApi": { "id": "REPLACE_CREDENTIAL_ID", "name": "WhatsApp account" }
      }
    }
  ],
  "connections": {
    "BannerBot Webhook": {
      "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]]
    },
    "Prepare": {
      "main": [[{ "node": "Has Drive Folder?", "type": "main", "index": 0 }]]
    },
    "Has Drive Folder?": {
      "main": [
        [{ "node": "WhatsApp — Failed", "type": "main", "index": 0 }],
        [{ "node": "List Banner Images", "type": "main", "index": 0 }]
      ]
    },
    "List Banner Images": {
      "main": [[{ "node": "Split Files", "type": "main", "index": 0 }]]
    },
    "Split Files": {
      "main": [[{ "node": "Has Images?", "type": "main", "index": 0 }]]
    },
    "Has Images?": {
      "main": [
        [{ "node": "WhatsApp — Empty Folder", "type": "main", "index": 0 }],
        [{ "node": "Download Image", "type": "main", "index": 0 }]
      ]
    },
    "Download Image": {
      "main": [[{ "node": "Image to Base64", "type": "main", "index": 0 }]]
    },
    "Image to Base64": {
      "main": [[{ "node": "Claude Vision — Generate Prompt", "type": "main", "index": 0 }]]
    },
    "Claude Vision — Generate Prompt": {
      "main": [[{ "node": "Extract Prompt", "type": "main", "index": 0 }]]
    },
    "Extract Prompt": {
      "main": [[{ "node": "Collect All Prompts", "type": "main", "index": 0 }]]
    },
    "Collect All Prompts": {
      "main": [[{ "node": "Format prompts.md", "type": "main", "index": 0 }]]
    },
    "Format prompts.md": {
      "main": [[{ "node": "Markdown to Binary", "type": "main", "index": 0 }]]
    },
    "Markdown to Binary": {
      "main": [[{ "node": "Upload prompts.md", "type": "main", "index": 0 }]]
    },
    "Upload prompts.md": {
      "main": [[{ "node": "WhatsApp — Done", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
